/**************************************************************************/
/*TABLE OF CONTENTS*/
/**************************************************************************/

/*
WEBSITE BODY, FONT, WRAPPER, BORDERS
HEADER
PARALLAX CONTENT
LINK BUTTON, FORM SUBMIT BUTTON
CUSTOM GITHUB BUTTON
ICONS
CONTACT ME PAGE
CHECKLIST PAGE
FOOTER
*/

/**************************************************************************/
/*USERS*/
/**************************************************************************/

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2), 0 4px 12px 0 rgba(0,0,0,0.19);
}

/**************************************************************************/
/*WEBSITE BODY, FONT, WRAPPER, BORDERS*/
/**************************************************************************/

/*Sets the default font style for the website*/
body, html {
    height: 100%;
    margin: 0;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #232629;
}

/*Sets the default background color for the website*/
.wrapper {
    background: #f6f8fc;
    overflow: auto;
    min-height: 100%;
}

/*Gets rid of the annoying horizontal scroll bar on the home page*/
.container-no-margin {
  overflow-x: hidden;
}

/*Sets the border dividers to a custom color*/
.border-custom {
  border-top: 1px solid #CFCFCF;
}

/**************************************************************************/
/*HEADER*/
/**************************************************************************/


/*Set background color and remove default Bootstrap margins and padding*/
.navbar {
  background: #FFFFFF;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 6px 32px -6px #999;
  margin-top: 0;
  padding:0px;
  position: -webkit-sticky;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9;
}

.nav-search-collapse{
  height: 80px;
  line-height: 80px;
}

.nav-search-icon{
  width: 40px;
  height: 80px;
  position: relative;
}

.nav-search-icon > i{
  font-size: 26px;
  width: 60px;
  height: 10px;
  position: absolute;
  top: -35%;
  left: -20%;
  transform: translate(-50%, 50%);
}

/*Style and position the logo*/
.navbar-brand{
  color: #000000;
  height: 80px;
  width: 160px;
  padding:0px 12px;
  margin: 0px;
  line-height: 80px;
}

/*Adds margin for the dropdown menu for mobile*/
.navbar-collapse{
  margin: 0px 20px 0px 20px;
}

.navbar > .show{
  margin: 0px 20px 30px 20px;
}

.nav-link {
    color:#000000;
}

/*Styles the navbar links.*/
.link-hover::after{
  text-decoration: none;
  color: #000000;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #3c4ef1;
  transition: width .3s;
}

/*Sets hover effects for the navbar links, logo, toggler, and drop down
items*/
.link-hover:hover::after{
  color: #000000;
  text-decoration: none;
  width: 100%;
  transition: width .3s;
}

.link-dropdown::after{
  text-decoration: none;
  color: #000000;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #3c4ef1;
  transition: width .3s;
}

.link-dropdown:hover::after{
  color: #000000;
  text-decoration: none;
  width: 100%;
  transition: width .3s;
}

.navbar-brand:hover, .nav-link:hover {
    color: #000000;
}

.dropdown-item:hover{
    color: #ffffff;
    background: #3c4ef1;
}

/*Styles the dropdown menu opened by the toggler to match the navbar */
.dropdown-menu{
  background: #ffffff;
}

/*Sets text color for the drop down items*/
.dropdown-item{
  color: #000000;
  text-align: center;
}

.nav-item{
    text-align: center;
}

.squash{
  margin-right: 45%;
  margin-left: 45%;
}
@media (max-width: 576px){
  .squash{margin-right: 30%; margin-left: 30%;}
}
@media (max-width: 768px){
  .squash{margin-right: 35%; margin-left: 35%;
  }
}
@media (max-width: 992px){
  .squash{margin-right: 38%; margin-left: 38%;
  }
}
@media (max-width: 1200px){
  .squash{margin-right: 40%; margin-left: 40%;
  }
}

/**************************************************************************/
/*----NAVBAR CUSTOM BREAKPOINT----*/
/**************************************************************************/

/*Let's customize the navbar breakpoint to accomodate all our links. We
use navbar-expand-custom in base.html and then set the breakpoint to a
value of our choosing. Then we re-apply some CSS to the custom class to
keep from breaking the navbar.*/
@media (min-width: 1325px){
  .navbar-expand-custom {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
      flex-direction: row;
  }
  .navbar-expand-custom .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbar-expand-custom .navbar-collapse {
      display: flex!important;
  }
  .navbar-expand-custom .navbar-toggler {
      display: none;
  }
  .navbar-expand-custom .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .nav-search-collapse{
    display: none;
  }
}

@media (max-width: 1325px) {
  .login-out-link{
    margin-left: 0px;
  }
  .nav-search{
    display: none;
  }
}

/* Make our mobile search bar drop to a second line on very small screens */
@media (max-width: 600px) {
  .navbar{
    flex-wrap:wrap;
  }
  .nav-search-collapse{
    width: 100%;
    order: 3;
    text-align: center;
  }
  #id_master_search{
    margin-right: 0px;
    margin-left: 17px;
  }
  .container-no-margin {
    margin-top: 40px;
  }
}

.table-scroll{
  overflow-x: auto;
  white-space: nowrap;
}

/**************************************************************************/
/*----CURRENT PATH LINKS----*/
/**************************************************************************/

.current-path{
  font-size: 20px;
}

.link-divider{
  font-size: 20px;
  font-weight: bold;
}

/**************************************************************************/
/*----ISSUES LIST PAGE----*/
/**************************************************************************/

.issues-header{
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2), 0 4px 12px 0 rgba(0,0,0,0.19);
}

.header-top, .header-bottom{
  height: 60px;
}

.issue-tab > i, .issue-tab > a{
  color: #ffffff;
  text-decoration: none;
}

.issue-tab{
  width: 75px;
  height: 30px;
  position: relative;
  background: #3c4ef1;
  border-radius: 5px 5px 5px 5px;
}

.search-glass{
  height: 40px;
  width: 30px;
  background: #e7e9ec;
  color: #777777;
  position: relative;
}

.search-glass > i{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.vertical-align{
  line-height: 60px;
}

.issues-container{
  background: #f6f8fc;
  box-shadow: inset 0 5px 9px 0 rgba(0,0,0,0.2), inset 0 4px 12px 0 rgba(0,0,0,0.19);
}

.issues-footer{
  background: #ffffff;
  height: 40px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2), 0 4px 12px 0 rgba(0,0,0,0.19);
}

.issue-row{
  background: #ffffff;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,0.2), 0 3px 9px 0 rgba(0,0,0,0.19);
}

.issue-row > div{
  display: flex;
}

.sub-date{
  font-size: 12px;
  color: #3a3a3a;
}

.issue-row > b{
  text-decoration: none;
  color: #000000;
}

.check-center{
  line-height: 30px;
}

.inline{
  display: inline-block;
}

.issue-dropdown-filters{
  float: right;
}

.issue-dropdown-filters > a{
  line-height: 60px;
}

.new-issue-button{
  height: 40px;
  width: 120px;
  background: #3c4ef1;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 4px 6px 0 rgba(0,0,0,0.15);
  border: none;
  border-radius: 7px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-search{
  width: calc(100% - 270px);
}

.issue-search{
  width: 100%;
  height: 40px;
  background: #e7e9ec;
  border: none;
  border-radius: 0px 7px 7px 0px;
  margin-right: 20px;
  padding-left: 10px;
}

.issue-search:focus, .issue-search:active{
  outline: none;
  box-shadow: 0px 0px 15px rgba(60, 78, 241, 0.6);
}

.filter-field{
  height: 40px;
  width: 100px;
  background: #3c4ef1;
  color: #FFFFFF;
  border: none;
  border-radius: 7px 0px 0px 7px;
  margin: 0 auto;
}

.filter-field > option{
  background: #FFFFFF;
  color: #000000;
  border-bottom: #000000;
}

.filter-field:focus{
  outline:none;
}

@media(max-width:992px){
  .dynamic-hide {display: none;}
}

@media(max-width:665px){
  .dynamic-hide-small {display: none;}
}

.pl-custom{
  padding-left: 15px;
}

#id_author, #id_projects, #id_sort{
  background: #e7e9ec;
  color: #000000;
  box-shadow: none;
}

#id_projects{
  border-radius: 0px;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #cecece;
}

#id_sort{
  border-radius: 0px 7px 7px 0px;
}

/**************************************************************************/
/*----ISSUES READ PAGE----*/
/**************************************************************************/

.issue-open, .issue-closed{
  background: #3c4ef1;
  color: #ffffff;
  width: 90px;
  height: 30px;
  border-radius: 7px;
  text-align: center;
}

.issue-closed{
  background: #d60000;
  width: 100px;
}

.edit-issue-button{
  height: 40px;
  width: 80px;
  background: #3c4ef1;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 4px 6px 0 rgba(0,0,0,0.15);
  border: none;
  border-radius: 7px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-button-cancel{
  height: 40px;
  width: 160px;
  background: #fdfdfd;
  color: #b90000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 4px 6px 0 rgba(0,0,0,0.15);
  border: 1px solid;
  border-color: #000000;
  border-radius: 7px;
  padding: 0px 0px 0px 0px;
}

.form-button-cancel:hover{
  text-decoration: none;
  color: #FFFFFF;
  background: #b90000;
}

.form-button-cancel:focus{
  outline: none;
  box-shadow: none;
}

.delete-icon{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  line-height: 60px;
  background: #c90000;
}

.sign-up-button{
  height: 40px;
  width: 160px;
  background: #fdfdfd;
  color: #3c4ef1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 4px 6px 0 rgba(0,0,0,0.15);
  border: 1px solid;
  border-color: #000000;
  border-radius: 7px;
  padding: 0px 0px 0px 0px;
}

.sign-up-button:hover{
  text-decoration: none;
  color: #FFFFFF;
  background: #3c4ef1;
}

.sign-up-button:focus{
  outline: none;
  box-shadow: none;
}

/**************************************************************************/
/*----ISSUES CREATE PAGE----*/
/**************************************************************************/

.form-box{
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2), 0 4px 12px 0 rgba(0,0,0,0.19);
}

.user-box{
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.user-image{
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.user-title{
  line-height: 50px;
  color: #000000;
}

.issue-title-label{
  font-size: 20px;
}

#id_title{
  border-radius: 7px;
  width: 100%;
  border: 1px solid;
  border-color: #777777;
  padding-left: 10px;
  padding-right: 10px;
}

#id_title:focus, #id_comment:focus{
  border-color: #3c4ef1;
  outline: none;
}

.associate-tag{
  width: 33.33%;
}

.associate-field{
  height: 40px;
  width: 100%;
  background: #e7e9ec;
  color: #000000;
  border: none;
}

#id_project_associate{
  border-radius: 7px 0px 0px 7px;
}

#id_folder_associate{
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #cecece;
}

#id_file_associate{
  border-radius: 0px 7px 7px 0px;
}

#id_comment{
  border-radius: 7px;
  width: 100%;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.form-button{
  height: 40px;
  width: 160px;
  background: #3c4ef1;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 4px 6px 0 rgba(0,0,0,0.15);
  border: none;
  border-radius: 7px;
  padding: 0px 0px 0px 0px;
}

.form-button:hover{
  text-decoration: none;
  color: #FFFFFF;
  background: #18b5c0;
}

.form-button:focus{
  outline: none;
  box-shadow: none;
}

/**************************************************************************/
/*----ISSUE READ PAGE----*/
/**************************************************************************/

.delete-button{
  height: 40px;
  width: 120px;
  background: #d60000;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 4px 6px 0 rgba(0,0,0,0.15);
  border: none;
  border-radius: 7px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  line-height: 40px;
}

.delete-button:hover{
  text-decoration: none;
  color: #FFFFFF;
}

.delete-button:focus{
  outline: none;
  box-shadow: none;
}

.close-button{
  height: 40px;
  width: 120px;
  background: #3c4ef1;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 4px 6px 0 rgba(0,0,0,0.15);
  border: none;
  border-radius: 7px;
  padding: 0px 0px 0px 0px;
}

.close-button:hover{
  text-decoration: none;
  color: #FFFFFF;
}

.close-button:focus{
  outline: none;
  box-shadow: none;
}

/**************************************************************************/
/*----PROJECT LIST PAGE----*/
/**************************************************************************/

.project-box{
  background: #FFFFFF;
  position: relative;
  border-radius: 10px;
  height: 120px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.project-header{
  display: inline-block;
  position: relative;
  height: 60px;
  width:220px;
}

.project-header > h4{
  position: absolute;
  white-space: nowrap;
  width: 100px;
  height: 30px;
  top: 54%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.icon-tab, 
.icon-tab-folder-file{
  background: #3c4ef1;
  border-radius: 10px 0px 0px 0px;
  height: 60px;
  width: 70px;
  position: relative;
  display: inline-block;
}

.icon-tab > i, 
.icon-tab-folder-file >i{
  font-size: 35px;
  position: absolute;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-tab > a,
.icon-tab-folder-file> a{
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-description{
  width: 500px;
  top: 62%;
  left: -234%;
  transform: translate(50%, 50%);
}


@media (max-width:1135px){
.project-description{width: 300px; left: -91%;}
}

.project-date{
  width: 250px;
  top: 115%;
  left: -56%;
  transform: translate(50%, 50%);
}

.project-button{
  position: relative;
  width: 120px;
  height: 40px;
}

.project-button > a{
  position: absolute;
  top: 30%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.project-button > .issues-count{
  position: absolute;
  top: 68%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.button-issues{
  height: 40px;
  width: 85px;
  background: #3c4ef1;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 4px 6px 0 rgba(0,0,0,0.15);
  border: none;
  border-radius: 7px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button-issues:hover, .new-issue-button:hover{
  text-decoration: none;
  color: #FFFFFF;
  background: #18b5c0;
}

.button-issues:focus, .new-issue-button:focus{
  outline: none;
  box-shadow: none;
}

.issues-count, .issues-count-btn{
  background-color: #e66902;
  border-radius: 13px;
  height: 26px;
  width: 26px;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.issues-count-btn:hover{
  text-decoration: none;
  color: #ffffff;
  box-shadow: 0px 0px 15px rgba(51, 65, 255, 0.6);
}

.issues-count-btn:focus{
  box-shadow: none;
}

.count-small{
  font-size: 12px;
}

/**************************************************************************/
/*----PROJECT AND FOLDER CONTENTS PAGE----*/
/**************************************************************************/

.folder-file-box{
  background: #FFFFFF;
  position: relative;
  border-radius: 10px;
  height: 60px;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2), 0 4px 12px 0 rgba(0,0,0,0.19);
}

.folder-file-header{
  display: inline-block;
  position: relative;
  height: 60px;
  width: 100px;
}

.folder-file-header > .custom-header{
  position: absolute;
  white-space: nowrap;
  font-size: 24px;
  width: 100px;
  height: 30px;
  top: 54%;
  left: -35%;
  transform: translate(50%, -50%);
}

.icon-tab-folder-file{
  border-radius: 10px 0px 0px 10px;
}

.folder-file-date{
  display: inline-block;
  position: relative;
  height: 60px;
  width: 50px;
}

.folder-file-date > a{
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
}

.folder-file-button{
  position: relative;
  width: 120px;
  height: 40px;
}

.folder-file-button > a{
  position: absolute;
  top: 75%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.folder-file-button > .issues-count{
  position: absolute;
  top: 110%;
  left: 69%;
  transform: translate(-50%, -50%);
}

/**************************************************************************/
/*----FILE CONTENTS PAGE----*/
/**************************************************************************/

.shadow-container{
  border-radius: 10px;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2), 0 4px 12px 0 rgba(0,0,0,0.19);
}

.p-custom{
  padding-left: 15px;
  padding-right: 15px;
}

.file-box{
  background: #FFFFFF;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  height: 60px;
}

.file-subheader{
  background: #FFFFFF;
  position: relative;
  height: 50px;
}

.file-contents{
  background: #FFFFFF;
  position: relative;
  border-radius: 0px 0px 10px 10px;
}

.code-issue{
  background: #e60202;
  border-radius: 17px;
}

.code-issue-count{
  background: #e66902;
  border-radius: 17px;
  color: #ffffff;
}

.issue-present{
  font-size: 14px;
  padding-left: 22px;
  padding-right: 0px;
  width: 50px;
  height: 20px;
  text-align: center
}

.index{
  font-size: 14px;
  color: #7e7e7e;
  padding-left: 10px;
  padding-right: 10px;
  width: 50px;
  height: 20px;
  text-align: right
}

.code-text{
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  height: 20px;
  white-space: nowrap;
}

/**************************************************************************/
/*----SEARCH RESULTS BUTTONS----*/
/**************************************************************************/

/*Hides the default Bootstrap button*/
.hide-button {
  display:none;
}

.button-container{
  height: 80px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**/
.issue-button{
  background-color: #FFFFFF;
  border: none;
  color: #000000;
  cursor: pointer;
  position: relative;
  height: 58px;
  width: 350px;
  border-radius: 7px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.icon-background-color{
  height: 58px;
  width: 75px;
  border-radius: 7px 0px 0px 7px;
  background: #3c4ef1;
}

/**/
.issue-button > i {
  font-size: 35px;
  position: absolute;
  color: #FFFFFF;
  top: 50%;
  left: 11%;
  transform: translate(-50%, -50%);
}

/*Styles and positions the text within the button*/
.button-title{
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.button-description{
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  color: #5e5e5e;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
}

/*Sets hover effects for both color versions of the button*/
.issue-button:hover{
  height: 80px;
  width: 400px;
}

.issue-button:hover > .icon-background-color{
  height: 80px;
  width: 86px;
}

.issue-button:active{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
}

@media(max-width:992px){
  .dynamic-center {
    display: flex;
    justify-content: center;
  }
}

@media(max-width:767px){
  .header-bottom{
    height: 120px;
  }
  .issue-dropdown-filters{
    float: left;
  }
}

/**************************************************************************/
/*----MASTER SEARCH FORM----*/
/**************************************************************************/

.nav-search-text{
  color: #000000 important;
  line-height: 40px;
  font-size: 18px;

}

.button-search{
  height: 40px;
  width: 85px;
  background: #3c4ef1;
  color: #FFFFFF;
  border: none;
  border-radius: 7px;
}

.button-search:hover{
  outline: none;
}

.login-out-link{
  color: #000000;
  line-height: 40px;
  font-size: 18px;
  margin-left: 15px;
}

@media (max-width: 1325px) {
  .login-out-link{
    margin-left: 0px;
  }
}

.login-out-link:hover{
  color: #000000;
  text-decoration: none;
}

.ms-form-style{
  width: 260px;
  height: 40px;
  background: #e7e9ec;
  border: none;
  border-radius: 7px;
  margin-right: 20px;
  padding-left: 10px;
}

.ms-form-style:focus, .form-style:active{
  outline: none;
  box-shadow: 0px 0px 15px rgba(60, 78, 241, 0.6);
}

/**************************************************************************/
/*----ABOUT PAGE----*/
/**************************************************************************/

.logo-box{
  width: 120px;
  height: 100px;
  margin: 20px 20px;
  line-height: 100px;
}

.aws-resize{
  width: 80%;
}

.docker-resize{
  width: 50%;
}

.DRF-resize{
  width: 50%;
}

/**************************************************************************/
/*----NAVBAR ANIMATED TOGGLER----*/
/**************************************************************************/

/*Sets color and glow for the middle hamburger toggler bar*/
.navbar-toggler-icon{
    background: #000000;
  }
  
  /*Sets color and glow for the top and bottom hamburger toggler bars*/
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    background: #000000;
  }

/*Controls sizing and spacing for the container for the toggler icon
below. Child element is .navbar-toggler-icon.*/
.navbar-toggler{
    margin: 0px 10px;
    padding: 0px 0px;
    position: relative;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  
  /*Creates and styles the center bar on the hamburger toggler icon*/
  .navbar-toggler-icon{
    width: 40px;
    height: 5px;
    border-radius: 4px;
    transition: all .5s ease-in-out;
  }
  
  /*Creates the top and bottom toggler bars*/
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: '';
    position: absolute;
    margin: 0px 0 0 -20px;
    width: 40px;
    height: 5px;
    border-radius: 4px;
    transition: all .5s ease-in-out;
  }
  
  /*Positions the top and bottom toggler bars*/
  .navbar-toggler-icon::before {
    transform: translateY(-14px);
  }
  .navbar-toggler-icon::after {
    transform: translateY(14px);
  }
  
  /*Set's final orientation for the toggler bars after animation. Animation
  activated by hamburger.js in static/js directory*/
  .navbar-toggler.open .navbar-toggler-icon {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .navbar-toggler.open .navbar-toggler-icon::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .navbar-toggler.open .navbar-toggler-icon::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
  /*Removes Bootstrap's default outline from the toggler*/
  .navbar-toggler:focus,.navbar-toggler:active {
     outline: none;
     box-shadow: none;
  }

/**************************************************************************/
/*FOOTER*/
/**************************************************************************/

/*Sets footer size and color*/
.footer {
  background: #3c4ef1;
  height: 200px;
}

/*Sets footer text color and centers it*/
footer .footer-text {
  color: #FFFFFF;
  text-align: center;
}

/**************************************************************************/
/*END*/
/**************************************************************************/