{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin mr-3 ml-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <div class="row">
    <div class="col-6 col-offset-3 mx-auto">
      <h2 class="text-center border-bottom mb-3">About Isssue Tracker</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-offset-3 mx-auto">
      <a class="mb-2">Issue Tracker is a Django web application that
          uses the Django REST Framework to consume GitHub API data
          and extend 

      </a>
    </div>
  </div>

<div class="row mb-4"></div>
</div>
{% endblock content %}