{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin">

<!-- Intro section with welcome text and link button -->
<div class="pimgintro">
<div class="container-parallax">
  <div class="row mt-5 mb-5 py-5"></div>
  <div class="row d-flex justify-content-center py-3">
    <div class="ptext">
      <span class="align-text-middle">Welcome to my website!</span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="ptext-sub my-auto">
      <span class="align-text-middle">
        <p>Check out my projects below</p>
        <p>or read more about me</p>
      </span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="ptext-sub my-auto">
      <span class="align-text-middle">
        <a href="" class="link-btn-light">here</a>
      </span>
    </div>
  </div>
</div>
</div>

<!-- Skills Section -->
<section class="section section-intro">
  <h2>Here's What I Know</h2>
</section>

<!--
Projects Section: This displays all my home page projects.
The url links below are generated dynamically from the database project entries.
'' are removed from around project.link unlike other template links because the
database generates them when passing the links to the template as a text string.
-->

<!-- Closing Section with GitHub button	-->
<div class="pimgintro">
<div class="container-parallax">
  <div class="row py-5"></div>
  <div class="row d-flex justify-content-center py-3">
    <div class="ptext">
    <span class="align-text-middle">See something you like?</span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="ptext-sub my-auto">
      <span class="align-text-middle">
        <p>Check out my GitHub</p>
      </span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
  </div>
</div>
</div>

</div>
{% endblock content %}