{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin mr-3 ml-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <div class="row">
    <div class="col-6 col-offset-3 mx-auto">
      <h2 class="text-center border-bottom mb-2">Project / Folder / File: Issues</h2>
    </div>
  </div>

  <div class="row mt-4 dynamic-center">

    <div class="col-lg-4 col-md-10 col-sm-10">
      <div class="row d-flex justify-content-center">
        <div class="button-container">
          <a class="button-spacer" href="">
            <input class="hide-button" type="button" name="" id="issue_id">
            <label class="issue-button" for="issue_id">
              <span class="button-title">Issue # 1</span>
              <span class="button-description">Project: Project 1</span>
              <div class="icon-background-color"></div>
              <i class="fas fa-bug"></i>
            </label>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-10 col-sm-10">
      <div class="row d-flex justify-content-center">
        <div class="button-container">
          <a class="button-spacer" href="">
            <input class="hide-button" type="button" name="" id="issue_id">
            <label class="issue-button" for="issue_id">
              <span class="button-title">Issue # 2</span>
              <span class="button-description">Project: Project 1</span>
              <div class="icon-background-color"></div>
              <i class="fas fa-bug"></i>
            </label>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-10 col-sm-10">
      <div class="row d-flex justify-content-center">
        <div class="button-container">
          <a class="button-spacer" href="">
            <input class="hide-button" type="button" name="" id="issue_id">
            <label class="issue-button" for="issue_id">
              <span class="button-title">Issue # 2</span>
              <span class="button-description">Project: Project 1</span>
              <div class="icon-background-color"></div>
              <i class="fas fa-bug"></i>
            </label>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-10 col-sm-10">
      <div class="row d-flex justify-content-center">
        <div class="button-container">
          <a class="button-spacer" href="">
            <input class="hide-button" type="button" name="" id="issue_id">
            <label class="issue-button" for="issue_id">
              <span class="button-title">Issue # 2</span>
              <span class="button-description">Project: Project 1</span>
              <div class="icon-background-color"></div>
              <i class="fas fa-bug"></i>
            </label>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-10 col-sm-10">
      <div class="row d-flex justify-content-center">
        <div class="button-container">
          <a class="button-spacer" href="">
            <input class="hide-button" type="button" name="" id="issue_id">
            <label class="issue-button" for="issue_id">
              <span class="button-title">Issue # 3</span>
              <span class="button-description">Project: Project 1</span>
              <div class="icon-background-color"></div>
              <i class="fas fa-bug"></i>
            </label>
          </a>
        </div>
      </div>
    </div>
  </div>

<div class="row mb-4"></div>
</div>
{% endblock content %}