{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin mr-3 ml-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <div class="row">
    <div class="col-6 col-offset-3 mx-auto">
      <h2 class="text-center border-bottom mb-2">Project / Folder / File: Issues</h2>
    </div>
  </div>



  <form action="/TBD/" method="GET"></form>
    {% csrf_token %}
    <div class="row mt-4 mb-5">
      <div class="col-10 col-offset-1 mx-auto">
        <div class="issues-header">
          <div class="row mx-0 border-bottom header-top">
            <div class="col-12 my-auto mx-auto" style="display: flex;">
              <div class="form-filter">{{ form.filters }}</div>
              <div class="form-search">{{ form.search }}</div>
              <div class="float-right mx-auto">
                <a href="{% url 'issue-list' %}" class="new-issue-button">New Issue</a>
              </div>
            </div>
            <!-- <div class="col-2 my-auto">
              <div class="float-right">
                <div class="">
                  <a href="{% url 'issue-list' %}" class="new-issue-button">New Issue</a>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row mx-0 header-bottom">
            <div class="col-6 my-auto">
              {{ form.select_all }}
              {% for button in form.open_closed %}
                {{ button }}
              {% endfor %}
            </div>
            <div class="col-6 my-auto float-right">
              <div class="float-right">
                {{ form.author }}{{ form.projects }}{{ form.sort }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>



  <div class="row mt-4 dynamic-center">

    <div class="col-lg-4 col-md-10 col-sm-10">
      <div class="row d-flex justify-content-center">
        <div class="button-container">
          <a class="button-spacer" href="">
            <input class="hide-button" type="button" name="" id="issue_id">
            <label class="issue-button" for="issue_id">
              <span class="button-title">Issue # 1</span>
              <span class="button-description">Project: Project 1</span>
              <div class="icon-background-color"></div>
              <i class="fas fa-bug"></i>
            </label>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-10 col-sm-10">
      <div class="row d-flex justify-content-center">
        <div class="button-container">
          <a class="button-spacer" href="">
            <input class="hide-button" type="button" name="" id="issue_id">
            <label class="issue-button" for="issue_id">
              <span class="button-title">Issue # 2</span>
              <span class="button-description">Project: Project 1</span>
              <div class="icon-background-color"></div>
              <i class="fas fa-bug"></i>
            </label>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-10 col-sm-10">
      <div class="row d-flex justify-content-center">
        <div class="button-container">
          <a class="button-spacer" href="">
            <input class="hide-button" type="button" name="" id="issue_id">
            <label class="issue-button" for="issue_id">
              <span class="button-title">Issue # 2</span>
              <span class="button-description">Project: Project 1</span>
              <div class="icon-background-color"></div>
              <i class="fas fa-bug"></i>
            </label>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-10 col-sm-10">
      <div class="row d-flex justify-content-center">
        <div class="button-container">
          <a class="button-spacer" href="">
            <input class="hide-button" type="button" name="" id="issue_id">
            <label class="issue-button" for="issue_id">
              <span class="button-title">Issue # 2</span>
              <span class="button-description">Project: Project 1</span>
              <div class="icon-background-color"></div>
              <i class="fas fa-bug"></i>
            </label>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-10 col-sm-10">
      <div class="row d-flex justify-content-center">
        <div class="button-container">
          <a class="button-spacer" href="">
            <input class="hide-button" type="button" name="" id="issue_id">
            <label class="issue-button" for="issue_id">
              <span class="button-title">Issue # 3</span>
              <span class="button-description">Project: Project 1</span>
              <div class="icon-background-color"></div>
              <i class="fas fa-bug"></i>
            </label>
          </a>
        </div>
      </div>
    </div>
  </div>

<div class="row mb-4"></div>
</div>
{% endblock content %}