{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin mr-3 ml-3">
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
  <div class="row bottom-buffer">
      <div class="col-lg-2 col-md-5 col-sm-10 mx-auto border-bottom">
         <h2 class="text-center">Issues</h2>
      </div>
      <div class="col-lg-2 col-md-5 col-sm-10 mx-auto border-bottom">
        <h2 class="text-center">Projects</h2>
      </div>
      <div class="col-lg-2 col-md-5 col-sm-10 mx-auto border-bottom">
        <h2 class="text-center">Folders</h2>
      </div>
      <div class="col-lg-2 col-md-5 col-sm-10 mx-auto border-bottom">
        <h2 class="text-center">Files</h2>
      </div>
  </div>
  <div class="row bottom-buffer">
    <div class="col-lg-2 col-md-5 col-sm-10 mx-auto">
       <h2 class="text-center">Issues</h2>
    </div>
    <div class="col-lg-2 col-md-5 col-sm-10 mx-auto">
      <h2 class="text-center">Projects</h2>
    </div>
    <div class="col-lg-2 col-md-5 col-sm-10 mx-auto">
      <h2 class="text-center">Folders</h2>
    </div>
    <div class="col-lg-2 col-md-5 col-sm-10 mx-auto">
      <h2 class="text-center">Files</h2>
    </div>
  </div>

</div>
{% endblock content %}