{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin mr-3 ml-3">
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
  <div class="row bottom-buffer">
      <div class="col-lg-2 col-md-5 col-sm-10 mx-auto border-bottom">
         <h2 class="text-center">Issues</h2>
      </div>
      <div class="col-lg-2 col-md-5 col-sm-10 mx-auto border-bottom">
        <h2 class="text-center">Projects</h2>
      </div>
      <div class="col-lg-2 col-md-5 col-sm-10 mx-auto border-bottom">
        <h2 class="text-center">Folders</h2>
      </div>
      <div class="col-lg-2 col-md-5 col-sm-10 mx-auto border-bottom">
        <h2 class="text-center">Files</h2>
      </div>
  </div>
  <div class="row bottom-buffer">
    <div class="col-lg-2 col-md-5 col-sm-10 mx-auto">
       <h2 class="text-center">Issues</h2>
    </div>
    <div class="col-lg-2 col-md-5 col-sm-10 mx-auto">
        <div class="row d-flex justify-content-center">
            <a class="button-spacer" href="">
                <input class="hide-button" type="button" name="" id="issue_id">
                <label class="issue-button" for="issue_id">
                    <span>GitHub</span>
                    <span>TESTING TEXT</span>
                    <div class="icon-background-color"></div>
                    <i class="fas fa-bug"></i>
                </label>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-5 col-sm-10 mx-auto">
      <h2 class="text-center">Folders</h2>
    </div>
    <div class="col-lg-2 col-md-5 col-sm-10 mx-auto">
      <h2 class="text-center">Files</h2>
    </div>
  </div>

</div>
{% endblock content %}