{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin mr-3 ml-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <div class="row mb-5">
    <div class="col-lg-6 col-lg-offset-3 mx-auto col-sm-10 col-sm-offset-1">
      <div class="project-box">
        <div class="icon-tab">
          <i class="fas fa-project-diagram"></i>
        </div>
        <div class="project-header">
          <h4><a href="">Project 1</a></h4>
        </div><br>
        <div class="project-description">
          <a class="text-secondary">Some description text about the project some run text that adds more space</a>
        </div><br>
        <div class="project-date">
          <a class="text-secondary">Updated March 5, 2021</a>
        </div>
        <div class="project-button">
          <button class="button-issues my-2 my-sm-0" type="submit">Issues</button>
          <div class="issues-count text-center"><a>1</a></div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row mb-4"></div>
</div>
{% endblock content %}