{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin mr-3 ml-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <div class="row mb-5">
    <div class="col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 mx-auto">
      <div class="project-box">
        <div class="icon-tab">
          <i class="fas fa-project-diagram"></i>
          <a class="project-description text-secondary">Some description text about the project even more text</a>
          <a class="project-date text-secondary">Updated December 25, 2021</a>
        </div>
        <div class="project-header">
          <h4><a href="">Project 1</a></h4>
        </div><br>
        <!-- <a class="text-secondary">Some description text about the projects</a> -->
        <div class="row">
          <div class="col-10 project-description">
            <!-- <a class="text-secondary">Some description text about the projects</a> -->
            <!-- <a class="text-secondary">Updated March 5, 2021</a> -->
          </div>
          <!-- <div class="col project-date">
            <a class="text-secondary">Updated March 5, 2021</a>
          </div> -->
          <div class="col-2 ml-auto project-button">
            <button class="button-issues" type="submit">Issues</button>
            <div class="issues-count"><a>1</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row mb-4"></div>
</div>
{% endblock content %}